@keyframes center-scale {
    from {
        transform: scale(1.25);
    }
    to {
        transform: scale(1);
    }
}

.center-watch {
    z-index: 0;
    animation: center-scale .5s cubic-bezier(0.165, 0.84, 0.44, 1)  !important;
}

@keyframes left-view {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.left-watch {
    animation: left-view .5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

@keyframes right-view {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.right-watch {
    animation: right-view .5s cubic-bezier(0.165, 0.84, 0.44, 1)    !important;
}